* {
  padding: 0;
  margin: 0;
  font-size: 40px;
}

.box-one {
  background-color: orange;
  padding: 10px;
  height: 100px;
  width: 100px;
  border: 20px solid purple;
  margin: 100px;
  box-sizing: border-box;
}

/* 
Margins collapse, so any adjacent elements use the larger margin
instead of adding the margins together.
*/

/*
When you inspect the element after adding padding and border,
the new side becomes (height + padding + border)
ex: (100px (H) + (2 * 10px (Padding))  + (2 * 30px (Border))
 = 180 Height
*/

/*
box-sizing: border-box; sets the height/width as the final and 
padding/border cut into context box size
box-sizing: border-box is highly recommended because it makes 
it much easier to size one without doing arithmetic for each element
*/

.box-two {
  background-color: lightblue;
  border: 0 solid green;
  padding: 10px;
  height: 100px;
  width: 100px;
  border: 30px solid purple;
  margin: 70px;
}
